In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Load lats and longs for heatmap
I had saved this file after some basic regex cleaning as a txt file containing a list of key value pairs, however it did not format correctly when loading it into a dataframe so i copied and pasted it into here

In [12]:
df = pd.read_csv('lats_longs_ccmo.txt', header=None, index_col=False, names=['Name', 'Lat', 'Long', 'Info'] )
df

                 Name        Lat       Long                 Info
0     ['Pin_50736247'  38.678987 -94.595189   '$50000 3bd 1.1ba'
1      'Pin_50063675'  38.563094 -94.185387     '$56500 2bd 1ba'
2      'Pin_51035572'  38.565279 -94.196383     '$59000 3bd 2ba'
3      'Pin_51037750'  38.815557 -94.217099     '$60000 2bd 1ba'
4      'Pin_51301105'  38.646900 -94.346888     '$68700 3bd 1ba'
...               ...        ...        ...                  ...
2306   'Pin_44882874'  38.784958 -94.257906    '$130000 3bd 1ba'
2307   'Pin_46390017'  38.807513 -94.546237  '$130000 3bd 2.1ba'
2308   'Pin_49707852'  38.645378 -94.349816    '$130000 3bd 2ba'
2309   'Pin_45434729'  38.648211 -94.343182    '$130000 3bd 2ba'
2310   'Pin_46388174'  38.648995 -94.354414   '$130700 3bd 2ba']

[2311 rows x 4 columns]

In [28]:
df = pd.DataFrame(lats_longs)
df

              Name        Lat       Long               Info
0     Pin_50736247  38.678987 -94.595189   $50000 3bd 1.1ba
1     Pin_50063675  38.563094 -94.185387     $56500 2bd 1ba
2     Pin_51035572  38.565279 -94.196383     $59000 3bd 2ba
3     Pin_51037750  38.815557 -94.217099     $60000 2bd 1ba
4     Pin_51301105  38.646900 -94.346888     $68700 3bd 1ba
...            ...        ...        ...                ...
2306  Pin_44882874  38.784958 -94.257906    $130000 3bd 1ba
2307  Pin_46390017  38.807513 -94.546237  $130000 3bd 2.1ba
2308  Pin_49707852  38.645378 -94.349816    $130000 3bd 2ba
2309  Pin_45434729  38.648211 -94.343182    $130000 3bd 2ba
2310  Pin_46388174  38.648995 -94.354414    $130700 3bd 2ba

[2311 rows x 4 columns]

In [21]:
df['Info'][0].split()

['$50000', '3bd', '1.1ba']

In [13]:
df['price'], df['bedrooms'], df['bathrooms'] = zip(*df['Info'].str.split().tolist())
df

,Name,Lat,Long,Info,price,bedrooms,bathrooms
0,['Pin_50736247',38.678987,-94.595189,'$50000 3bd 1.1ba','$50000,3bd,1.1ba'
1,'Pin_50063675',38.563094,-94.185387,'$56500 2bd 1ba','$56500,2bd,1ba'
2,'Pin_51035572',38.565279,-94.196383,'$59000 3bd 2ba','$59000,3bd,2ba'
3,'Pin_51037750',38.815557,-94.217099,'$60000 2bd 1ba','$60000,2bd,1ba'
4,'Pin_51301105',38.646900,-94.346888,'$68700 3bd 1ba','$68700,3bd,1ba'
...,...,...,...,...,...,...,...
2306,'Pin_44882874',38.784958,-94.257906,'$130000 3bd 1ba','$130000,3bd,1ba'
2307,'Pin_46390017',38.807513,-94.546237,'$130000 3bd 2.1ba','$130000,3bd,2.1ba'
2308,'Pin_49707852',38.645378,-94.349816,'$130000 3bd 2ba','$130000,3bd,2ba'
2309,'Pin_45434729',38.648211,-94.343182,'$130000 3bd 2ba','$130000,3bd,2ba'
2310,'Pin_46388174',38.648995,-94.354414,'$130700 3bd 2ba'],'$130700,3bd,2ba']

In [17]:
df['price'][0][2:]

'50000'

In [18]:
df['price'] = df['price'].apply(lambda x: int(x[2:]))
df

,Name,Lat,Long,Info,price,bedrooms,bathrooms
0,['Pin_50736247',38.678987,-94.595189,'$50000 3bd 1.1ba',50000,3bd,1.1ba'
1,'Pin_50063675',38.563094,-94.185387,'$56500 2bd 1ba',56500,2bd,1ba'
2,'Pin_51035572',38.565279,-94.196383,'$59000 3bd 2ba',59000,3bd,2ba'
3,'Pin_51037750',38.815557,-94.217099,'$60000 2bd 1ba',60000,2bd,1ba'
4,'Pin_51301105',38.646900,-94.346888,'$68700 3bd 1ba',68700,3bd,1ba'
...,...,...,...,...,...,...,...
2306,'Pin_44882874',38.784958,-94.257906,'$130000 3bd 1ba',130000,3bd,1ba'
2307,'Pin_46390017',38.807513,-94.546237,'$130000 3bd 2.1ba',130000,3bd,2.1ba'
2308,'Pin_49707852',38.645378,-94.349816,'$130000 3bd 2ba',130000,3bd,2ba'
2309,'Pin_45434729',38.648211,-94.343182,'$130000 3bd 2ba',130000,3bd,2ba'
2310,'Pin_46388174',38.648995,-94.354414,'$130700 3bd 2ba'],130700,3bd,2ba']

In [22]:
df['bedrooms'][0][:1]

'3'

In [23]:
df['bedrooms'] = df['bedrooms'].apply(lambda x: x[:1])
df

,Name,Lat,Long,Info,price,bedrooms,bathrooms
0,['Pin_50736247',38.678987,-94.595189,'$50000 3bd 1.1ba',50000,3,1.1ba'
1,'Pin_50063675',38.563094,-94.185387,'$56500 2bd 1ba',56500,2,1ba'
2,'Pin_51035572',38.565279,-94.196383,'$59000 3bd 2ba',59000,3,2ba'
3,'Pin_51037750',38.815557,-94.217099,'$60000 2bd 1ba',60000,2,1ba'
4,'Pin_51301105',38.646900,-94.346888,'$68700 3bd 1ba',68700,3,1ba'
...,...,...,...,...,...,...,...
2306,'Pin_44882874',38.784958,-94.257906,'$130000 3bd 1ba',130000,3,1ba'
2307,'Pin_46390017',38.807513,-94.546237,'$130000 3bd 2.1ba',130000,3,2.1ba'
2308,'Pin_49707852',38.645378,-94.349816,'$130000 3bd 2ba',130000,3,2ba'
2309,'Pin_45434729',38.648211,-94.343182,'$130000 3bd 2ba',130000,3,2ba'
2310,'Pin_46388174',38.648995,-94.354414,'$130700 3bd 2ba'],130700,3,2ba']

In [28]:
df['bathrooms'][1][:-3]

'1'

In [30]:
df['bathrooms'] = df['bathrooms'].apply(lambda x: x[:-3])

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2311 non-null   object
 1   Lat        2311 non-null   float64
 2   Long       2311 non-null   float64
 3   Info       2311 non-null   object
 4   price      2311 non-null   int64
 5   bedrooms   2311 non-null   object
 6   bathrooms  2311 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 90.3+ KB

In [33]:
df['bedrooms'].unique()

array(['3', '2', '4', '5', '6', '1', '8', '9'], dtype=object)

In [34]:
df['bathrooms'].unique()

array(['1.1', '1', '2', '2.1', '3', '3.1', '2.2', '4', '4.1', '5', '3.2',
       '4.2', '5.1', '4.3', '6.2', '4.4', '5.2', '1.2', '2b'],
      dtype=object)

In [35]:
df['bedrooms'] = df['bedrooms'].apply(lambda x: int(x))
df['bathrooms'] = df['bathrooms'].apply(lambda x: float(x))

ValueError: could not convert string to float: '2b'

In [37]:
df['bathrooms'].replace(to_replace='2b', value='2', inplace=True)

In [38]:
df['bathrooms'] = df['bathrooms'].apply(lambda x: float(x))

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2311 non-null   object
 1   Lat        2311 non-null   float64
 2   Long       2311 non-null   float64
 3   Info       2311 non-null   object
 4   price      2311 non-null   int64
 5   bedrooms   2311 non-null   int64
 6   bathrooms  2311 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 108.4+ KB

In [32]:
import seaborn as sns

In [20]:
import pygmaps

ModuleNotFoundError: No module named 'gmaps'

In [40]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

In [43]:
browser = webdriver.Firefox()
browser.get(url)
browser.find_element_by_xpath("/html/body/form/div[3]/div/div/div[5]/div[3]/span[2]/div/div/div[2]/div[1]/div/div/div[2]/div[2]/div[1]/span/a")

WebDriverException: Message: 'geckodriver' executable needs to be in PATH.

In [8]:
import requests
from bs4 import BeautifulSoup
import pprint
'''
_ct10_m_hfKeys - this is the input tag with the id
the entire list of listings is available in the entire html, this pulls all the listing information into a list of key value pairs
'''

session = requests.Session()
r = session.get("https://matrix.heartlandmls.com/Matrix/Public/Portal.aspx?k=990316X949Z&p=DE-77667588-490")
soup = BeautifulSoup(r.content, "lxml")

keys = soup.find("input",{"id":"_ctl0_m_hfKeys"})["value"]
did = session.cookies.get_dict()["Display"]

r = requests.post("https://matrix.heartlandmls.com/matrix/public/getdisplay/ByKeys.ashx",
  params = {
    "drm": "email"
  },
  data = {
    "keys": keys,
    "did": did,
    "tid": 1,
    "l": 1,
    "pbs": 1
   })
soup = BeautifulSoup(r.content, "lxml")

items = []

for i in soup.find_all("div",{"class":"multiLineDisplay"}):
  span = i.find_all("span")
  item = {
    "image": span[0].find("img")["src"],
    "price": span[1].text,
    "status1": span[4].text,
    "status2": span[5].text,
    "address1": span[6].text,
    "address2": span[7].text,
    "bedroomNum": span[8].text,
    "FullBathroomNum": span[10].text,
    "HalfBathroomNum": span[12].text,
    "sqft": span[14].text,
  }
  if (len(span)>20):
    item["builtIn"] = span[17].text
    item["acres"] = span[18].text
    item["family"] = span[20].text
    item["description"] = span[21].text
  elif (len(span)>19):
    item["builtIn"] = span[17].text
    item["family"] = span[18].text
    item["description"] = span[19].text
  else:
    item["family"] = span[15].text
    item["description"] = span[16].text
  items.append(item)

ModuleNotFoundError: No module named 'requests'